
body {color: black; background-color: white; font-weight:normal; width:70em;
 }
h1 {color: #0000AA ;
    font-family:sans-serif; font-size:xx-large; font-weight: bold;
    text-align:center;} 
h2 {color: #0000AA ;
    font-family:serif; font-size:x-large; font-weight: bold;
    text-align:left;} 
.dt {font-weight: bold;color:black;}
pre {font-size: 70%}


